html {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
}

#header {
  color: #002921;
  padding: 10px;
  font-family: 'Inter_Bold', sans-serif;
  font-size: 5vw;
}

#testo {
  color: #003329;
  padding: 10px;
  font-family: 'Inter_Regular', sans-serif;
  font-size: 5vw;
  line-height: 6.5vw;
}

#hover {} /* HOVER MOUSE SU TESTO */

#hover:hover {
  color: white;
  cursor: none;
}

.pointer {
  position: absolute;
  pointer-events: none;
}

.pointer img {
  position: relative;
  height: 100px; width: 200px;
  top: -50px; left: -50%;
} /* FINE HOVER MOUSE SU TESTO */

#UNIRSMlink { /* LINK UNIVERSITÁ */
  text-decoration: underline;
}

/* unvisited link */
#UNIRSMlink:link {
  color: #003329;
}

/* visited link */
#UNIRSMlink:visited {
  color: #003329;
}

/* mouse over link */
#UNIRSMlink:hover {
  background-color: blue;
  color: white;
  cursor: none;
}

/* selected link */
#UNIRSMlink:active {
  color: #00ffce;
  cursor: none;
} /* FINE LINK UNIVERSITÁ */

#cvport {
  color: #003329;

  padding: 10px;
  font-family: 'Inter_Regular', sans-serif;
  font-size: 5vw;
  line-height: 6.5vw;
}

#contacts {
  color: #003329;

  padding: 10px;
  font-family: 'Inter_Regular', sans-serif;
  font-size: 5vw;
  line-height: 6.5vw;
}

#contacts span {
  color: #003329;
  font-family: 'Inter_Bold', sans-serif;
}

a {
  font-family: 'Inter_Regular', sans-serif;
  text-decoration: underline;
}

/* unvisited link */
a:link {
  color: #003329;
}

/* visited link */
a:visited {
  color: #003329;
}

/* mouse over link */
a:hover {
  color: #00ffce;
  cursor: none;
}

/* selected link */
a:active {
  color: #00a384;
  cursor: none;
}

#progetti {
  position: absolute;
  width: 200px;
  height: 200px;

  right: 10px;
  bottom: 10px;
  /* border: 1px solid #000; */

  background-color: black;
}

/* ///////////////////////////////////////////////// */

/* Fading animation */
/* .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} */

/* ///////////////////////////////////////////////// */

@media screen and (min-width:376px) and (max-width:768px) {

  #header {
    font-size: 4vw;
    line-height: 5vw;
  }

  #testo {
    font-size: 4vw;
    line-height: 5vw;
  }

  .pointer img {
    height: 120px; width: 240px;
    top: -60px; left: -50%;
  }

  #cvport {
    font-size: 4vw;
    line-height: 5vw;
  }

  #contacts {
    font-size: 4vw;
    line-height: 5vw;
  }

  #progetti {
    position: absolute;
    width: 40vw;
    height: 40vw;

    right: 10px;
    bottom: 10px;
    /* border: 1px solid #000; */

    background-color: black;
  }

}

/* @media screen and (min-width: 481px) and (max-width: 800px) { */
@media screen and (min-width: 769px) {

  #header {
    font-size: 2vw;
    line-height: 2.5vw;
  }

  #testo {
    font-size: 2vw;
    line-height: 2.5vw;
    width: 45%;
  }

  .pointer img {
    height: 120px; width: 240px;
    top: -60px; left: -50%;
  }

  #cvport {
    font-size: 2vw;
    line-height: 2.5vw;
  }

  #contacts {
    font-size: 2vw;
    line-height: 2.5vw;
    position: absolute;
    bottom: 10px;
    padding-bottom: 0px;
  }

  #progetti {
    position: absolute;
    width: 30vw;
    height: 30vw;

    right: 10px;
    bottom: 10px;
    /* border: 1px solid #000; */

    background-color: black;
  }

}
