* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid dimgrey;
  outline-offset: -1px; */
}

body, html {
  background-color: #F4F6F0;
  display: flex;
  flex-direction: column;
  padding:
    env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px) env(safe-area-inset-bottom, 20px) env(safe-area-inset-left, 20px);
}

header {
  padding: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 21px;
  font-family: Inter;
  letter-spacing: -0.1px;
  color: #1f1f1f;
  border-bottom: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.text {
  padding: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 34px;
  letter-spacing: -0.1px;
  color: #1f1f1f;
}

.text2 {
  padding: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 34px;
  letter-spacing: -0.1px;
  color: #1f1f1f;
}

#pizza, #spiderman {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 21px;
  letter-spacing: -0.1px;
  color: #1f1f1f;
}

.spidermanImg {
  background-image: url("img/spidey.svg");
  background-size: contain;
  /* background-repeat: no-repeat; */
  display: inline;
  color: transparent;
}

.linkUni {
  font-weight: 700;
  color: #1f1f1f;
}

.download {
  padding: 0px 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 34px;
  color: #1f1f1f;
  text-decoration: none;
  list-style-type: none;
}

li:link {
  color: #1f1f1f;
  text-decoration: none;
}

li:visited {
  color: #1f1f1f;
  text-decoration: none;
}

li:hover {
  color: #1f1f1f;
  text-decoration: underline;
}

li:active {
  color: #1f1f1f;
  text-decoration: underline;
}

footer {
  /* padding: 1em 1em calc(1em + env(safe-area-inset-bottom)); */
  padding: 0;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.contacts-container {
  width: 100%;
  border-top: 1px solid black;
  padding: 20px;
}

.contacts {
  padding: 0 20px;
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #1f1f1f;
  text-decoration: none;
  width: 100%
}

.switch-button {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-radius: 50px;
  background: linear-gradient(-30deg, #D5F496, #ADFFE6, #BA96F4, #F496BD);
  background-size: 300% 300%;
  animation: gradient 5s ease infinite;
}

.switch-button-white {
  background: #F4F6F0 !important;
}

#bottomText {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #1f1f1f;
  left: 0px;
  width: 100%;
  height: 40px;
  border-top: 1px solid #1f1f1f;
  border-bottom: 1px solid #1f1f1f;
  overflow: hidden;
  display: flex;
  align-items: center;
}

/*remove p*/
.btmText {
  width: 100%;
  margin: 0 auto;
  white-space: nowrap;
}

.btmText1 {
  padding-left: 150px;
  display: inline-block;
  /* Apply animation to this element */
  -webkit-animation: scrolling-left1 10s linear infinite;
  animation: scrolling-left1 10s linear infinite;
}

.btmText2 {
  padding-left: 150px;
  display: inline-block;
  /* Apply animation to this element */
  -webkit-animation: scrolling-left2 10s linear infinite;
  animation: scrolling-left2 10s linear infinite;
  animation-delay: 5s;
}

/* scrolling-left is continuous/repeatly text */
@keyframes scrolling-left1 {
  0% {
    transform: translateX(100vw);
    -webkit-transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scrolling-left2 {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }

  100% {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
  }
}

@-webkit-keyframes scrolling-left1 {
  0% {
    -webkit-transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(-100%);
  }
}

@-webkit-keyframes scrolling-left2 {
  0% {
    -webkit-transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(-200%);
  }
}

.body-colormode {
  background: linear-gradient(-30deg, #D5F496, #ADFFE6, #BA96F4, #F496BD);
  background-size: 450% 450%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.noDisplay {
  display: none;
}
