* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid dimgrey;
  outline-offset: -1px; */
}

body, html {
  background-color: #F4F6F0;
  display: flex;
  flex-direction: column;
  padding:
    env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px) env(safe-area-inset-bottom, 20px) env(safe-area-inset-left, 20px);
}

header {
  padding: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #1f1f1f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.text {
  padding: 0 20px 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  color: #1f1f1f;
}

.text2 {
  padding: 0 20px 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  color: #1f1f1f;
}

#pizza, #spiderman {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #1f1f1f;
  border: none;
  outline-offset: 2px;
  height:90px;
  outline: 2px solid black;
}

.spidermanImg{
  background-image: url("img/spidey.svg");
  background-size: contain;
  /* background-repeat: no-repeat; */
  display: inline;
  color: transparent;
}

.linkUni {
  font-weight: 700;
  color: #1f1f1f;
}

.contacts {
  display: inline-block;
  padding: 0px 20px 0px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  color: #1f1f1f;
  text-decoration: none;
}

footer {
  /* padding: 1em 1em calc(1em + env(safe-area-inset-bottom)); */
  padding: 0;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.switch {
  /* background-color: #F4F6F0; */
  background-color: transparent;
  color: #1f1f1f;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  padding: 20px;
  width: 100vw;
}

/* SLIDER */
#bottomText {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #1f1f1f;
  left: 0px;
  /* background: #FFFFFF; */
  width: 100%;
  height: 40px;
  /* background-color: #F4F6F0; */
  border-top: 1px solid #1f1f1f;
  border-bottom: 1px solid #1f1f1f;
  overflow: hidden;
  display: flex;
  align-items: center;
}

/*remove p*/
.btmText {
  width: 100%;
  margin: 0 auto;
  white-space: nowrap;
}

.btmText1 {
  padding-left: 150px;
  display: inline-block;
  /* Apply animation to this element */
  -webkit-animation: scrolling-left1 10s linear infinite;
  animation: scrolling-left1 10s linear infinite;
}

.btmText2 {
  padding-left: 150px;
  display: inline-block;
  /* Apply animation to this element */
  -webkit-animation: scrolling-left2 10s linear infinite;
  animation: scrolling-left2 10s linear infinite;
  animation-delay: 5s;
}

/* scrolling-left is continuous/repeatly text */
@keyframes scrolling-left1 {
  0% {
    transform: translateX(100vw);
    -webkit-transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scrolling-left2 {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }

  100% {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
  }
}

@-webkit-keyframes scrolling-left1 {
  0% {
    -webkit-transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(-100%);
  }
}

@-webkit-keyframes scrolling-left2 {
  0% {
    -webkit-transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(-200%);
  }
}

.text-colormode {
  color: #F4F6F0 !important;
}

.body-colormode {
  background: linear-gradient(-30deg, #D5F496, #ADFFE6, #BA96F4, #F496BD);
  background-size: 500% 500%;
  animation: gradient 15s ease infinite;
  /* height: 100vh; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.noDisplay {
  display: none;
}
