:root {
  --textsize: 21px;
  --textsize-desktop: 46px;
  --textsize-tablet: 36px;
  --textheight: 150%;
  --textspacing: -0.2px;
}

* {
  margin: 0;
  padding: 0;
}

body, html {
  background-color: #F4F6F0;
  display: flex;
  flex-direction: column;
  padding:
    env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px) env(safe-area-inset-bottom, 20px) env(safe-area-inset-left, 20px);
  overflow: hidden;
}

header {
  /* background: azure; */
  padding: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: var(--textsize);
  font-family: Inter;
  letter-spacing: var(--textspacing);
  color: #1f1f1f;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.text {
  /* background: pink; */
  padding: 20px 20px 0 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: var(--textsize);
  line-height: var(--textheight);
  letter-spacing: var(--textspacing);
  color: #1f1f1f;
  transition: color 1s linear; /* vendorless fallback */
  -o-transition: color 1s linear; /* opera */
  -ms-transition: color 1s linear; /* IE 10 */
  -moz-transition: color 1s linear; /* Firefox */
  -webkit-transition: color 1s linear; /*safari and chrome */
}

.text2 {
  padding: 20px 20px 0 20px font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: var(--textsize);
  line-height: var(--textheight);
  letter-spacing: var(--textspacing);
  color: #1f1f1f;
}

.linkUni {
  text-decoration: underline;
  color: #1f1f1f;
}

#pizza, #spiderman {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: var(--textsize);
  line-height: var(--textheight);
  letter-spacing: var(--textspacing);
  color: #1f1f1f;
}

.download {
  /* background: azure; */
  padding: 0px 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: var(--textsize);
  line-height: var(--textheight);
  letter-spacing: var(--textspacing);
  color: #1f1f1f;
}

.contacts-container {
  /* background: pink; */
  /* width: 100vw; */
}

.contacts {
  padding: 0px 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: var(--textsize);
  line-height: var(--textheight);
  letter-spacing: var(--textspacing);
  color: #1f1f1f;
  text-decoration: none;
  /* width: 100vw; */
}

ul {
  list-style-type: none;
}

a:link {
  color: #1f1f1f;
  /* text-decoration: none; */
}

a:visited {
  color: #1f1f1f;
  text-decoration: none;
}

a:hover {
  color: #1f1f1f;
  text-decoration: underline;
}

a:active {
  color: #1f1f1f;
  text-decoration: underline;
}

footer {
  /* padding: 1em 1em calc(1em + env(safe-area-inset-bottom)); */
  padding: 0;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.switch-button {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-radius: 50px;
  background: linear-gradient(-30deg, #D5F496, #ADFFE6, #BA96F4, #F496BD);
  background-size: 300% 300%;
  animation: gradient 5s ease infinite;
}

.switch-button-white {
  background: #F4F6F0 !important;
}

#bottomText {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: var(--textspacing);
  color: #1f1f1f;
  left: 0px;
  width: 100%;
  height: 40px;
  border-top: 1px solid #1f1f1f;
  border-bottom: 1px solid #1f1f1f;
  overflow: hidden;
  display: flex;
  align-items: center;
}

/*remove p*/
.btmText {
  width: 100%;
  margin: 0 auto;
  white-space: nowrap;
}

.btmText1 {
  padding-left: 150px;
  display: inline-block;
  /* Apply animation to this element */
  -webkit-animation: scrolling-left1 10s linear infinite;
  animation: scrolling-left1 10s linear infinite;
}

.btmText2 {
  padding-left: 150px;
  display: inline-block;
  /* Apply animation to this element */
  -webkit-animation: scrolling-left2 10s linear infinite;
  animation: scrolling-left2 10s linear infinite;
  animation-delay: 5s;
}

/* scrolling-left is continuous/repeatly text */
@keyframes scrolling-left1 {
  0% {
    transform: translateX(100vw);
    -webkit-transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scrolling-left2 {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }

  100% {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
  }
}

@-webkit-keyframes scrolling-left1 {
  0% {
    -webkit-transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(-100%);
  }
}

@-webkit-keyframes scrolling-left2 {
  0% {
    -webkit-transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(-200%);
  }
}

.body-colormode {
  background: linear-gradient(-30deg, #F4F6F0, #F4F6F0, #D5F496, #ADFFE6, #BA96F4, #F4F6F0, #F4F6F0);
  background-size: 450% 450%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.noDisplay {
  display: none;
}

/* DESKTOP */
@media only screen and (min-width: 992px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  header {
    padding: 20px 20px;
    position: fixed;
    top: 0;
    width: 100vw;
  }

  .name {
    padding-left: 20px;
  }

  .switch-button {
    margin-right: 20px;
  }

  .container {
    /* outline: 2px solid black; */
    outline-offset: -2px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 60px;
    width: 66vw;
  }

  .text {
    padding: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: var(--textsize-desktop);
  }
.text span {
      color: #1f1f1f;
      transition: color 3s linear; /* vendorless fallback */
      -o-transition: color 3s linear; /* opera */
      -ms-transition: color 3s linear; /* IE 20 */
      -moz-transition: color 3s linear; /* Firefox */
      -webkit-transition: color 3s linear; /*safari and chrome */
}

  .text span:hover {
    /* font-weight: 700; */
    color: #0086ff;
    /* color: linear-gradient(-30deg, #D5F496, #ADFFE6, #BA96F4, #F496BD); */
    /* animation: gradient 15s ease infinite; */
    transition: color 0s;
    /* transition-delay: 1s; */
    /* letter-spacing: -0.2vw; */
}

  .download {
    padding: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: var(--textsize);
    line-height: var(--textheight);
  }

  .contacts {
    padding: 0;
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: var(--textsize);
    line-height: var(--textheight);
  }

  #bottomText {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 21px;
    color: #1f1f1f;
    left: 0px;
    width: 100%;
    height: 40px;
    border-top: 1px solid #1f1f1f;
    border-bottom: 1px solid #1f1f1f;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  /*remove p*/
  .btmText {
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
  }

  .btmText1 {
    padding-left: 800px;
    display: inline-block;
    /* Apply animation to this element */
    -webkit-animation: scrolling-left1 8s linear infinite;
    animation: scrolling-left1 8s linear infinite;
  }

  .btmText2 {
    padding-left: 800px;
    display: inline-block;
    /* Apply animation to this element */
    -webkit-animation: scrolling-left2 8s linear infinite;
    animation: scrolling-left2 8s lin8ar infinite;
    animation-delay: 4s;
  }

  .body-colormode {
    background: linear-gradient(-30deg, #D5F496, #ADFFE6, #BA96F4, #F496BD);
    background-size: 600% 600%;
    animation: gradient 15s ease infinite;
  }
}

/* FINE DESKTOP */
