:root {
  --textsize: 24px;
  --textsize-desktop: 42px;
  --textsize-tablet: 36px;
  --textheight: 150%;
  --textspacing: -0.2px;
  --black: #1a1a1a;
  --white: #faffff;
}

@media(min-width: 1000px) {
  header {
    border-bottom: none;
  }

  .navbar {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .nav-branding {
    font-weight: 300;
    font-size: 24px;
    padding: 6px 18px;
    border: 1px solid var(--black);
  }

  .nav-menu {
    position: relative;
    opacity: 1;
    right: 0;
    flex-direction: row;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: transparent !important;
    top: 0px;
  }

  .nav-item {
    text-align: right;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 24px;
  }

  .nav-item:hover {
    text-decoration: none;
    background: linear-gradient(-30deg, #D5F496, #ADFFE6, #BA96F4, #F496BD);
    background-size: 600% 600%;
    animation: gradient 8s ease infinite;
    cursor: pointer;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .text {
    padding: 0;
    width: 80vw;
    font-size: var(--textsize-desktop);
    font-weight: 200;
  }

  .text2 {
    width: 80vw;
    font-weight: 200;
    padding: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: var(--textsize-desktop);
  }

  .linkUni {
    transition: all .2s ease-out;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-position: under;
  }

  .linkUni:hover {
    text-decoration: none;
    background: linear-gradient(-30deg, #D5F496, #ADFFE6, #BA96F4, #F496BD);
    background-size: 600% 600%;
    animation: gradient 8s ease infinite;
    cursor: pointer;
  }

  .download {
    padding: 0;
    width: 80vw;
    text-align: left;
    font-size: var(--textsize-desktop);
    line-height: var(--textheight);
    font-weight: 200;
  }

  .cv a {
    transition: all .2s ease-out;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-position: under;
  }

  .cv a:hover {
    text-decoration: none;
    background: linear-gradient(-30deg, #D5F496, #ADFFE6, #BA96F4, #F496BD);
    background-size: 600% 600%;
    animation: gradient 8s ease infinite;
    cursor: pointer;
  }

  .orb {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: var(--textheight);
    letter-spacing: var(--textspacing);
    color: var(--black);
    width: 300px;
    /* height: 40px; */
    /* background: #999; */
    /* border-radius: 50px; */
    display: inline-block;
    margin: 0 99.5px;
    float: left;
    transition: all .2s ease-out;
  }

  .orb:hover {
    cursor: pointer;
  }

  .marquee {
    top: 0;
    padding-top: 5px;
    height: 40px;
    width: 2000px;
    border: 1px solid var(--black);
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    /* margin: 200px auto; */
  }

  .marquee--inner {
    display: block;
    width: 200%;
    /* margin: 70px 0; */
    position: absolute;
    animation: marquee 20s linear infinite;
  }

  .marquee--inner:hover {
    animation-play-state: paused;
  }

  /*.half {
    float: left;
    width: 10%;
  }*/
  /* span {
    float: left;
    width: 50%:
  } */

  @keyframes marquee {
    0% {
      left: 0;
    }

    100% {
      left: -100%;
    }
  }

  .body-colormode {
    background: linear-gradient(-30deg, #D5F496, #ADFFE6, #BA96F4, #F496BD);
    background-size: 600% 600%;
    animation: gradient 15s ease infinite;
  }
}
