:root {
  --textsize: 24px;
  --textsize-desktop: 42px;
  --textsize-tablet: 36px;
  --textheight: 150%;
  --textspacing: -0.2px;
  --black: #1a1a1a;
  --white: #faffff;
}

/* *************** */
/* *** DESKTOP *** */
/* *************** */
@media(min-width: 1000px) {
  header {
    border-bottom: none;
  }

  .navbar {
    background-color: beige;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

  }

  .nav-branding {
    font-weight: 300;
    font-size: 24px;
    padding: 6px 18px;
    border: 1px solid var(--black);
  }

  .nav-menu {
    position: relative;
    opacity: 1;
    right: 0;
    flex-direction: row;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: transparent !important;
    top: 0px;
  }

  .nav-item {
    text-align: right;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 24px;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .text {
    padding: 0;
    width: 80vw;
    font-size: var(--textsize-desktop);
    font-weight: 200;
  }

  .text2 {
    width: 80vw;
    font-weight: 200;
    padding: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: var(--textsize-desktop);
  }

  .download {
    padding: 0;
    width: 80vw;
    text-align: left;
    font-size: var(--textsize-desktop);
    line-height: var(--textheight);
    font-weight: 200;
  }

  #bottomText {
    font-size: 21px;
    height: 40px;
  }

  .btmText {
    width: 100%;
  }

  .btmText1 {
    padding-left: 800px;
    -webkit-animation: scrolling-left1 8s linear infinite;
    animation: scrolling-left1 8s linear infinite;
  }

  .btmText2 {
    padding-left: 800px;
    -webkit-animation: scrolling-left2 8s linear infinite;
    animation: scrolling-left2 8s lin8ar infinite;
    animation-delay: 4s;
  }

  .body-colormode {
    background: linear-gradient(-30deg, #D5F496, #ADFFE6, #BA96F4, #F496BD);
    background-size: 600% 600%;
    animation: gradient 15s ease infinite;
  }
}
